body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto; /* This ensures the top and bottom margins are 0, and left/right are auto */
    max-width: 800px;
    padding: 0; /* Add this line if you want to make sure no padding is affecting the width */
}


.hero-image {
    text-align: center;
    margin: 20px 0;
    display: flex; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
    flex-direction: column; /* Add this */
}

.hero-image img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.bio, .publications, .talks {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

ul {
    list-style-type: disc; 
    padding-left: 20px; 
}


li {
    margin-bottom: 5px;
    color: #333;
}

.top-row {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
}

.social-links img {
    width: 24px; /* Adjust based on your preference */
    height: 24px; /* Adjust to maintain aspect ratio */
    margin-right: 10px; /* Spacing between icons */
}

.social-links {
    max-width: 100%;
    margin-top: 10px; /* Space between your email and the social icons */
    display: flex; /* Align icons horizontally */
    justify-content: center; /* Center-align the icons */
}